[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "diagL1"]
	path = diagL1
	url = https://github.com/cran/diagL1
[submodule "greekLetters"]
	path = greekLetters
	url = https://github.com/cran/greekLetters
[submodule "pseudo"]
	path = pseudo
	url = https://github.com/cran/pseudo
